import tkinter as tk
from tkinter import messagebox

estoque = {}

def cadastrar():
    nome = entry_nome.get()
    quantidade = entry_qtd.get()

    if nome and quantidade.isdigit():
        estoque[nome] = int(quantidade)
        messagebox.showinfo("Sucesso", "Produto cadastrado!")
        limpar_campos()
    else:
        messagebox.showerror("Erro", "Preencha os campos corretamente.")

def entrada():
    nome = entry_nome.get()
    quantidade = entry_qtd.get()

    if nome in estoque and quantidade.isdigit():
        estoque[nome] += int(quantidade)
        messagebox.showinfo("Sucesso", "Entrada registrada!")
        limpar_campos()
    else:
        messagebox.showerror("Erro", "Produto não encontrado.")

def saida():
    nome = entry_nome.get()
    quantidade = entry_qtd.get()

    if nome in estoque and quantidade.isdigit():
        qtd = int(quantidade)

        if estoque[nome] >= qtd:
            estoque[nome] -= qtd
            messagebox.showinfo("Sucesso", "Saída registrada!")
            limpar_campos()
        else:
            messagebox.showerror("Erro", "Estoque insuficiente.")
    else:
        messagebox.showerror("Erro", "Produto não encontrado.")

def listar():
    lista.delete(0, tk.END)

    for produto, qtd in estoque.items():
        lista.insert(tk.END, f"{produto} - {qtd} unidades")

def limpar_campos():
    entry_nome.delete(0, tk.END)
    entry_qtd.delete(0, tk.END)

# Janela
janela = tk.Tk()
janela.title("Controle de Estoque")
janela.geometry("500x400")

tk.Label(janela, text="Nome do Produto").pack()
entry_nome = tk.Entry(janela, width=40)
entry_nome.pack()

tk.Label(janela, text="Quantidade").pack()
entry_qtd = tk.Entry(janela, width=20)
entry_qtd.pack()

tk.Button(janela, text="Cadastrar Produto", command=cadastrar).pack(pady=5)
tk.Button(janela, text="Entrada de Produto", command=entrada).pack(pady=5)
tk.Button(janela, text="Saída de Produto", command=saida).pack(pady=5)
tk.Button(janela, text="Listar Estoque", command=listar).pack(pady=5)

lista = tk.Listbox(janela, width=60, height=10)
lista.pack(pady=10)

janela.mainloop()
